body{
    background-color: moccasin;
}

h1{
    -webkit-text-fill-color:darkslategrey
}

p{
    -webkit-text-fill-color: peru;
}

img{
    width: 800px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
}       